

#btn_add_media{
    margin-top: 10px;
}
#btn_add_poster_media {
    margin-top: 10px;
}
/*
.sale{
    text-decoration: line-through;
}*/
.data_price .data{
    width: 85%;
    display: inline-block;
}
.data_price .control{
    display: inline-block;
    text-align: right;
    width: 14%;
}
.data_price .form label{
    width: 12%;
    display: inline-block;
}
.data_price .form{
    padding-bottom: 10px;
}
.data_price .item{
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}
.data_price .button{
    vertical-align: inherit;
}
.data_price_html{
    display: none;
}
.ui-datepicker{
    display: none;
}
.format-setting .description {
    padding: 0 !important;
}
.data_price input{
    width: 35%;
}
.content-admin{
    padding-top: 20px;
}
.content-admin h1, .content-admin h2, .content-admin h3, .content-admin h4, .content-admin h5, .content-admin h6
{
   font-weight: normal ;
}
.content-admin .st_withdrawal_info_name{
    float: left;
}
.content-admin .st_withdrawal_info_avatar{
     text-align: center;
 }
.content-admin .st_withdrawal_info_avatar img{
   border-radius: 50%;
}

.content-admin .st-dashboard-stat {
    display: block;
    padding-bottom: 20px;
    overflow: hidden;
}
.content-admin .st-dashboard-stat::before, .st-dashboard-stat::after {
    content: " ";
    display: table;
}
.content-admin .st-dashboard-stat::after {
    clear: both;
}
.content-admin .st_bortlet .st-dashboard-stat:last-child {
    margin-bottom: 0;
}
.content-admin .st-dashboard-stat .visual {
    display: block;
    float: left;
    font-size: 35px;
    height: 80px;
    line-height: 35px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-top: 10px;
    width: 80px;
}
.content-admin .st-dashboard-stat .visual > i {
    font-size: 110px;
    line-height: 110px;
    margin-left: -10px;
}
.content-admin .st-dashboard-stat .details {
    padding-right: 15px;
    position: absolute;
    right: 15px;
}
.content-admin .st-dashboard-stat .details .number {
    font-size: 34px;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 36px;
    margin-bottom: 0;
    padding-top: 25px;
    text-align: right;
}
.content-admin .st-dashboard-stat .details .desc {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    text-align: right;
}
.content-admin .st-dashboard-stat .more {
    clear: both;
    display: block;
    font-size: 11px;
    font-weight: 300;
    opacity: 0.7;
    padding: 6px 10px;
    position: relative;
    text-transform: uppercase;
}
.content-admin .st-dashboard-stat .more:hover {
    opacity: 0.9;
    text-decoration: none;
}
.content-admin .st-dashboard-stat .more > i {
    display: inline-block;
    float: right;
    margin-top: 1px;
}
.content-admin .st-dashboard-stat-light {
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.content-admin .st-dashboard-stat-light .details {
    margin-bottom: 5px;
}
.content-admin .st-dashboard-stat-light .details .number {
    font-weight: 300;
    margin-bottom: 0;
}


.content-admin .st-dashboard-stat .more {
    clear: both;
    display: block;
    font-size: 11px;
    font-weight: 300;
    opacity: 0.7;
    padding: 6px 10px;
    position: relative;
    text-transform: uppercase;
}


.content-admin .st-dashboard-stat.st_hotel-madison {
    background-color: #578ebe;
}
.content-admin .st-dashboard-stat.st_hotel-madison .more {
    background-color: #4884b8;
    color: #ffffff;
}
.content-admin .st-dashboard-stat.st_hotel-madison .visual > i {
    color: #ffffff;
    opacity: 0.3;
}
.content-admin .st-dashboard-stat.st_hotel-madison .details .number {
    color: #ffffff;
}
.content-admin .st-dashboard-stat.st_hotel-madison .details .desc {
    color: #ffffff;
    opacity: 1;
}
/* -----------------       -----------------------*/
.content-admin .st-dashboard-stat.st_rental-madison {
    background-color: #e35b5a;
}
.content-admin .st-dashboard-stat.st_rental-madison .more {
    background-color: #e35b5a;
    color: #ffffff;
}
.content-admin .st-dashboard-stat.st_rental-madison .visual > i {
    color: #ffffff;
    opacity: 0.3;
}
.content-admin .st-dashboard-stat.st_rental-madison .details .number {
    color: #ffffff;
}
.content-admin .st-dashboard-stat.st_rental-madison .details .desc {
    color: #ffffff;
    opacity: 1;
}
/* -----------------       -----------------------*/
.content-admin .st-dashboard-stat.st_cars-madison {
    background-color: #44b6ae;
}
.content-admin .st-dashboard-stat.st_cars-madison .more {
    background-color: #44b6ae;
    color: #ffffff;
}
.content-admin .st-dashboard-stat.st_cars-madison .visual > i {
    color: #ffffff;
    opacity: 0.3;
}
.content-admin .st-dashboard-stat.st_cars-madison .details .number {
    color: #ffffff;
}
.content-admin .st-dashboard-stat.st_cars-madison .details .desc {
    color: #ffffff;
    opacity: 1;
}
/* -----------------       -----------------------*/
.content-admin .st-dashboard-stat.st_tours-madison {
    background-color: #8775a7;
}
.content-admin .st-dashboard-stat.st_tours-madison .more {
    background-color: #8775a7;
    color: #ffffff;
}
.content-admin .st-dashboard-stat.st_tours-madison .visual > i {
    color: #ffffff;
    opacity: 0.3;
}
.content-admin .st-dashboard-stat.st_tours-madison .details .number {
    color: #ffffff;
}
.content-admin .st-dashboard-stat.st_tours-madison .details .desc {
    color: #ffffff;
    opacity: 1;
}
/* -----------------       -----------------------*/
.content-admin .st-dashboard-stat.st_activity-madison {
    background-color: #27ae60;
}
.content-admin .st-dashboard-stat.st_activity-madison .more {
    background-color: #27ae60;
    color: #ffffff;
}
.content-admin .st-dashboard-stat.st_activity-madison .visual > i {
    color: #ffffff;
    opacity: 0.3;
}
.content-admin .st-dashboard-stat.st_activity-madison .details .number {
    color: #ffffff;
}
.content-admin .st-dashboard-stat.st_activity-madison .details .desc {
    color: #ffffff;
    opacity: 1;
}
/* -----------------       -----------------------*/
.content-admin .st-dashboard-stat.st-total-madison {
    background-color: #ed8323;
}
.content-admin .st-dashboard-stat.st-total-madison .more {
    background-color: #ed8323;
    color: #ffffff;
}
.content-admin .st-dashboard-stat.st-total-madison .visual > i {
    color: #ffffff;
    opacity: 0.1;
}
.content-admin .st-dashboard-stat.st-total-madison .details .number {
    color: #ffffff;
}
.content-admin .st-dashboard-stat.st-total-madison .details .desc {
    color: #ffffff;
    opacity: 1;
}
/* -----------------       -----------------------*/
.content-admin .st-dashboard-stat.st-month-madison {
    background-color: #a7c0a9;
}
.content-admin .st-dashboard-stat.st-month-madison .more {
    background-color: #a7c0a9;
    color: #ffffff;
}
.content-admin .st-dashboard-stat.st-month-madison .visual > i {
    color: #ffffff;
    opacity: 0.1;
}
.content-admin .st-dashboard-stat.st-month-madison .details .number {
    color: #ffffff;
}
.content-admin .st-dashboard-stat.st-month-madison .details .desc {
    color: #ffffff;
    opacity: 1;
}
/* -----------------       -----------------------*/
.content-admin .st-dashboard-stat.st-month-2 {
    background-color: #7e7e7e;
}
.content-admin .st-dashboard-stat.st-month-2 .more {
    background-color: #7e7e7e;
    color: #ffffff;
}
.content-admin .st-dashboard-stat.st-month-2 .visual > i {
    color: #ffffff;
    opacity: 0.1;
}
.content-admin .st-dashboard-stat.st-month-2 .details .number {
    color: #ffffff;
}
.content-admin .st-dashboard-stat.st-month-2 .details .desc {
    color: #ffffff;
    opacity: 1;
}
/* -----------------       -----------------------*/
.content-admin .st-dashboard-stat.st-month-3 {
    background-color: #34734c;;
}
.content-admin .st-dashboard-stat.st-month-3 .more {
    background-color: #34734c;;
    color: #ffffff;
}
.content-admin .st-dashboard-stat.st-month-3 .visual > i {
    color: #ffffff;
    opacity: 0.1;
}
.content-admin .st-dashboard-stat.st-month-3 .details .number {
    color: #ffffff;
}
.content-admin .st-dashboard-stat.st-month-3 .details .desc {
    color: #ffffff;
    opacity: 1;
}
/* -----------------       -----------------------*/
.content-admin .st-dashboard-stat.st-month-4 {
    background-color: #d639d2;;
}
.content-admin .st-dashboard-stat.st-month-4 .more {
    background-color: #d639d2;;
    color: #ffffff;
}
.content-admin .st-dashboard-stat.st-month-4 .visual > i {
    color: #ffffff;
    opacity: 0.1;
}
.content-admin .st-dashboard-stat.st-month-4 .details .number {
    color: #ffffff;
}
.content-admin .st-dashboard-stat.st-month-4 .details .desc {
    color: #ffffff;
    opacity: 1;
}

.content-admin .st-dashboard-stat .more:hover {
    opacity: 1;
}
.content-admin .st-dashboard-stat .title {


    color: #fff;
    font-size: 22px;
    font-weight: 100;

    padding-top: 18px;
    position: absolute;
    text-align: center;
    width: 100%;
}
.content-admin .st-dashboard-new .details {
    left: auto;
    padding-right: 0px;
    position: absolute;
    top: 60px;
    right: auto;
    width: 100%;

}
.content-admin .st-dashboard-new .details .number {
    padding-top: 0px;
    text-align: center;
}
.content-admin .st-dashboard-new .detail-item{
    color: #fff;
}
.content-admin .st-dashboard-new .visual {
    display: block;
    float: right;
    font-size: 35px;
    height: 80px;
    line-height: 35px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-top: 10px;
    width: 80px;
}
.content-admin .mid-content .st-dashboard-stat{
    position: relative;
}

/* ----------------- ----------------*/
.content-admin .st_bortlet {
    border-radius: 0px;

    margin-top: 0;
    padding: 0;
}
.content-admin .st_bortlet.box {
    padding: 0 !important;
}

/*-------------------- -----------------------*/

.content-admin .st_bortlet > .st_bortlet-body.st_hotel, .st_bortlet.st_hotel {
    background-color: #4884b8 ;
}
.content-admin .st_bortlet.box.st_hotel {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #578ebe #578ebe;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
}
.content-admin .st_bortlet.box.st_hotel > .st_bortlet-title > .caption {
    color: #ffffff;
}
.content-admin .st_bortlet.box.st_hotel > .st_bortlet-title {
    background-color: #578ebe;
}
/*-------------------- -----------------------*/
/*-------------------- -----------------------*/
.content-admin.st_bortlet > .st_bortlet-title {
    border-bottom: 1px solid #eee;
    border-radius: 4px 4px 0 0;
    margin-bottom: 10px;
    min-height: 41px;
    padding: 0;
}
.content-admin .st_bortlet.box > .st_bortlet-title {
    border-bottom: 0 none;
    color: #fff;
    margin-bottom: 0;
    padding: 0 10px;
}
.content-admin .st_bortlet > .st_bortlet-title > .caption {
    display: inline-block;
    float: left;
    font-size: 18px;
    line-height: 18px;
    padding: 10px 0;
}
.content-admin .st_bortlet.box > .st_bortlet-title > .caption {
    padding: 11px 0 9px;
}

.content-admin .st_bortlet > .st_bortlet-title > .caption > i {
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 13px;
    margin-right: 5px;
    margin-top: 4px;
}
.content-admin .st_bortlet > .st_bortlet-body {
    clear: both;
}
.content-admin .st_bortlet.box > .st_bortlet-body {
    background-color: #fff;
    padding: 10px;
}
.content-admin .bot-content table {
    border-collapse: collapse;
}

.content-admin .bot-content table,
.content-admin .bot-content th,
.content-admin .bot-content td {
    border: 1px solid #ccc;
    line-height: 30px;
}
.text-center{
    text-align: center;
}
.content-admin .bot-content{

}
.content-admin .st_div_canvas{
    width:100%;background: #fff
}
.content-admin .st_div_item_canvas ,.st_div_canvas{
    margin: 20px 0;
    position: relative
}
.content-admin .user-content .head_reports{
    margin-top: 15px;
}
.content-admin .user-content .head_reports {
    background: #eee;
}
.content-admin .user-content.col-md-6{
    padding-right: 0px;
}
.content-admin .head_control .head_time {
    font-size: 18px;
    padding: 10px;
}
.content-admin .head_control .col-md-5 {
    padding-top: 5px;
}
.content-admin .head-st_hotel {
    background-color: #4884b8 !important;
    color: #fff;
    margin-bottom: 20px;
}
.content-admin .head_control .col-md-7 {
    font-size: 15px;
}
.content-admin select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 4px;

}
.content-admin .st_bortlet_new_admin{
    margin-top: 20px;

}
.content-admin .st_bortlet_new_admin > .st_bortlet-title > .caption {
    padding: 15px 0 !important;
}
.content-admin .st_bortlet_new_admin .table-scrollable{
    overflow-y: scroll; height: 420px;
}
.content-admin a{
    text-decoration: none;
}
.filter-admin-partner{
    margin-bottom: 10px;
}
.tablenav .tablenav-pages a, .tablenav-pages span.current {
    border: 1px solid #ccc;
    text-decoration: none;
}
.content-hide{
    display: none;
}
.content-hide.active{
    display: block;
}
.st_nav_service_partner{
    cursor: pointer;
}
.st_change_loading{
    padding-top: 6px;
    display: none;
}
#content-detail-service .nav-tab-wrapper{
    margin-bottom: 10px;
}
.content-admin select {
    line-height: 24px;
}
.st_hidden_input_field{
    display: none;
}