.st_order_items {
    width: 100%
}

.icon-st {
    background: url(logo-st.png) center center no-repeat;
    width: 24px;
    height: 24px;
    margin-left: 7px
}

.st_order_items thead tr th {
    background: #f8f8f8;
    padding: 8px;
    font-size: 11px;
    text-align: left
}

.st_order_items td {
    padding: 8px;
    text-align: left;
    line-height: 26px;
    vertical-align: top;
    border-bottom: 1px dotted #ececec
}

.st_order_items td.text-right {
    text-align: right
}

.st_create_item .form_row {
    display: block;
    margin-bottom: 10px;
    overflow: hidden
}

#posts-filter .st-wp-filter, .st-wp-filter {
    margin-bottom: 20px
}

.st_create_item .form_row label {
    width: 150px;
    display: block;
    float: left
}

.form_row_spec {
    display: none
}

.format-setting-inner .select2-container {
    width: 300px
}

.st-wp-filter {
    padding: 10px
}

.form-row {
    margin-bottom: 30px;
    display: table;
    width: 100%
}

.form-label {
    display: block;
    float: left;
    margin-right: 20px;
    width: 170px
}

.form-row .controls {
    display: table
}

.select2-container.form-control {
    width: 250px;
    display: block !important
}

#adminmenu div.wp-menu-image.dashicons-building-yl:before {
    content: "\f512";
    color: #ed8323
}

#adminmenu div.wp-menu-image.dashicons-location-alt-bl:before {
    content: "\f231";
    color: #2ea2cc
}

#adminmenu div.wp-menu-image.dashicons-desktop-red:before {
    color: #d54e21;
    content: "\f472"
}

#adminmenu div.wp-menu-image.dashicons-tickets-alt-st:before {
    color: #8e44ad;
    content: "\f524"
}

#adminmenu div.wp-menu-image.dashicons-flight-alt-st:before {
    color: #45a0ff;
    content: "\f227"
}



#adminmenu div.wp-menu-image.dashicons-admin-home-st:before {
    content: "\f102";
    color: #16a085
}

#adminmenu div.wp-menu-image.dashicons-palmtree-st:before {
    content: "\f527";
    color: #3498db
}

#adminmenu div.wp-menu-image.dashicons-dashboard-st:before {
    content: "\f226";
    color: #27ae60
}

#adminmenu div.wp-menu-image.dashicons-tag-st:before {
    content: "\f323";
    color: #3498db
}

#adminmenu .dashicons-st-traveler {
    background: url(logo.png) 50% 50% no-repeat;
    background-size: 21px
}

.wp-picker-container .iris-picker {
    z-index: 9999
}

.wp-admin .wrap.settings-wrap .ui-tabs-nav li a {
    padding: 8px 5px 8px 12px;
    border-bottom: 1px solid #DBDBDB;
    margin-left: 2px;
    color: #818181
}

.wp-admin #option-tree-header #option-tree-logo a:before {
    content: "";
    display: none
}

.wp-admin #option-tree-header #option-tree-logo a img {
    height: 48px
}

.wp-admin #option-tree-header #option-tree-logo a {
    height: auto;
    text-align: center;
    border-right: 0;
    margin-right: 10px
}

.wp-admin #option-tree-options-layouts-form {
    top: auto;
    bottom: -54px
}

#option-tree-header #theme-version span, .wp-admin #option-tree-header #option-tree-version span {
    border-left: 0;
    font-size: 25px;
    margin-top: 13px;
    font-weight: 700;
    color: #fff
}

.wp-admin #option-tree-header li {
    padding: 14px 0
}

.wp-admin .wrap.settings-wrap .ui-tabs-nav li.ui-state-active a {
    border-bottom-color: transparent
}

.container-upload-font {
    width: 100% !important
}

.st-cont-item {
    width: 100%;
    float: left;
    margin-bottom: 15px
}

.st-cont-item i:before {
    margin-right: 15px
}

@media (min-width: 480px) {
    .st-cont-item {
        width: 50%
    }
}

@media (min-width: 768px) {
    .st-cont-item {
        width: 33.3333%
    }
}

div[id^=setting_tab_icon] .format-setting {
    overflow: inherit !important
}

.iconpicker-popover {
    background-color: #fff
}

#setting_multi_location .select-wrapper {
    background: #FFF !important;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0
}

#setting_multi_location .select-wrapper .chosen-container {
    clear: both
}

#setting_multi_location .select-wrapper > span {
    display: none
}

.selectize-input {
    width: 300px !important
}

.list-location-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #CCC;
    margin-top: 5px;
    max-height: 300px;
    overflow-y: auto
}

.selectize-dropdown [data-selectable] .highlight {
    position: inherit !important;
    padding-left: 0 !important;
    padding-right: 0 !important
}

.form-control-admin {
    width: 250px !important;
    max-width: 100% !important
}

textarea.form-control-admin {
    resize: none
}

.danger p, span.require {
    color: red
}

#setting_menu_style .option-tree-ui-radio-images p {
    display: block !important
}

.wp-admin .qtip {
    width: auto !important;
    max-width: 450px
}

.wp-admin .fc-day-grid-container {
    height: auto !important
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.qtip .fc-event {
    border-radius: 0
}

.qtip .calendar-wrapper {
    position: relative;
    clear: both
}

.qtip .calendar-content.fc-unthemed {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 4px
}

.qtip .calendar-wrapper .overlay {
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 2;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

.qtip .calendar-content.fc-unthemed .fc-toolbar button :not (.fc-right button:last-child) {
    margin-right: 5px
}

.qtip .calendar-content.fc-unthemed .fc-center h2 {
    font-size: 2em
}

.qtip .calendar-content.fc-unthemed th {
    border-left: 0;
    border-right: 0;
    padding: 1em 0
}

.qtip .calendar-content.fc-unthemed td {
    border-width: 0;
    text-align: center
}

.qtip .calendar-content.fc-unthemed .fc-basic-view .fc-head {
    background-color: rgba(204, 204, 204, .2);
    border-bottom: 1px solid #ccc
}

.qtip .calendar-content.fc-unthemed .fc-content-skeleton .fc-day-number {
    text-align: center
}

.qtip .calendar-content.fc-unthemed .fc-day-grid-container {
    margin-top: 30px
}

.qtip .calendar-content.fc-unthemed .fc-basic-view .fc-body .fc-row {
    min-height: auto;
}

.qtip .calendar-content.fc-unthemed .fc-content-skeleton thead {
    display: none
}

.qtip .calendar-content.fc-unthemed .tooltip-inner {
    min-width: 150px;
    background-color: #666;
    color: #fff;
    padding: 10px;
    line-height: 1.5em;
    opacity: 1;
    border-radius: 4px
}

.qtip .calendar-content.fc-unthemed .tooltip-arrow {
    border-top-color: #666 !important;
    opacity: 1
}

.qtip .calendar-content.fc-unthemed .tooltip.in {
    opacity: 1 !important
}

.qtip .calendar-content.fc-unthemed .fc-content-skeleton .fc-event {
    border: none;
    background: 0 0;
    color: #666;
    font-size: 14px
}

.calendar-content.fc-unthemed .btn-disabled, .qtip .calendar-content.fc-unthemed .btn.btn-available {
    height: auto;
    width: 100%;
    line-height: 35px;
    color: #fff
}

.qtip .calendar-content.fc-unthemed .btn.btn-available {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #666
}

.qtip .calendar-bottom .cellgrey .color, .qtip .calendar-content.fc-unthemed .btn-disabled {
    background-color: #ccc
}

.calendar-content.fc-unthemed .btn.btn-available.selected, .calendar-content.fc-unthemed .st-active .btn.btn-available, .qtip .calendar-content.fc-unthemed .btn.btn-available:hover {
    color: #fff
}

.qtip .calendar-content.fc-unthemed .fc-day-grid-event .fc-content {
    overflow: initial
}

.qtip .calendar-content.fc-unthemed .fc-content {
    margin: 0 2px
}

.qtip .calendar-content.fc-unthemed .fc-content .btn {
    padding: 0
}

.qtip .calendar-content.fc-unthemed .fc-content span {
    line-height: 35px
}

.qtip .calendar-bottom {
    margin-top: 20px;
    padding-bottom: 20px
}

.calendar-bottom .item {
    display: inline-block;
    margin-right: 30px
}

.qtip .calendar-bottom .color {
    display: inline-block;
    width: 20px;
    height: 20px
}

.qtip .calendar-bottom .color.available {
    border: 1px solid #ccc
}

.qtip .triangle {
    display: inline-block;
    right: 12px;
    bottom: 12px;
    position: absolute
}

.qtip .triangle::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 8px solid transparent;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-top-color: #ccc
}

.calendar-content.fc-unthemed .btn.btn-available:hover .triangle::before, .qtip .calendar-content.fc-unthemed .st-active .triangle::before, .qtip .calendar-content.fc-unthemed button.btn-disabled .triangle::before {
    border-top-color: #fff
}

.qtip .calendar-content.fc-unthemed .fc-today {
    background: 0 0
}

.qtip .calendar-content.fc-unthemed button, .qtip .calendar-wrapper .calendar-wrapper-inner {
    position: relative
}

.qtip .calendar-content.fc-unthemed .btn[disabled] {
    opacity: 1
}

.show {
    display: block
}

.hide {
    display: none
}

.iconpicker-popover.popover {
    background: #FFF;
    z-index: 9 !important
}

.iconpicker .iconpicker-item.iconpicker-selected {
    color: #1fc1db !important;
    box-shadow: 0 0 0 1px #ddd !important
}

#form-bulk-edit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, .7);
    display: none
}

#form-bulk-edit .form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    background: #fff;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    border: 1px solid #242323;
    padding: 15px;
    max-width: 90%;
    width: 950px
}

#form-bulk-edit .form-container h3, #form-bulk-edit .form-container h4 {
    margin: 0;
    padding: 0
}

#form-bulk-edit .form-container .form-title {
    padding-bottom: 15px;
    border-bottom: 1px solid #CCC
}

#form-bulk-edit .form-container .form-footer {
    padding-top: 15px;
    border-top: 1px solid #CCC
}

#form-bulk-edit .form-container .form-content {
    padding-top: 15px;
    padding-bottom: 15px
}

#form-bulk-edit .form-container .form-content .form-group {
    width: auto !important;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #CCC;
    margin-bottom: 10px
}

#form-bulk-edit .form-container .form-content .form-group label {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px
}

#form-bulk-edit .form-container .form-content .form-group label.block {
    display: block;
    margin-bottom: 5px
}

@media (max-width: 1750px) {
    #form-bulk-edit .form-container {
        max-height: 550px;
        overflow-y: scroll
    }
}

@media (max-width: 1040px) {
    #form-bulk-edit .form-container {
        max-height: 480px;
        overflow-y: scroll
    }
}

#form-bulk-edit .overlay {
    display: none;
    z-index: 10;
    background: rgba(255, 255, 255, .7)
}

#form-bulk-edit .overlay.open {
    display: block
}

.alert .close, .st_vc_hidden_input input[type=text] {
    display: none
}

 .form-message {
     margin-top: 15px;
    font-style: italic
}

 .form-message .text-error {
    color: #A81212
}

 .form-message .text-success {
    color: #1E59DF
}

.alert {
    padding: 15px;
    border: 1px solid #4993db;
    background: #d2e9ff
}

.alert.alert-error {
    border: 1px solid #da7d7d;
    background: #e7c3c3
}
.calendar-wrapper .calendar_change_month{
    position: relative;
    height: 40px;
}
.st-option-wrapper.option-wrapper{
    position: absolute;
    left: 0;
    width: 100%;
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 99999;
    top: 100%;
    background: #FFF;
    display: none;
    border: 1px solid #CCC;
    -webkit-box-shadow: 1px 1px 3px #CCC;
    box-shadow: 1px 1px 3px #CCC;
}
.st-tp-field-flights,.st-tp-field-hotel-id, .st-tp-field-hotel-map, .st-tp-field-hotel-city{
    position: relative;
}
.st-select-wrapper select{
    display: none;
}
.st-option-wrapper label{
    width: 100%;
}
.st-option-wrapper .label a{
    width: 100%;
    text-decoration: none;
    padding: 10px 20px;
    color: #333;
    display: block;
}
.st-option-wrapper .label a i{
    float: right;
    margin-right: 35px;
}
.st-option-wrapper .label a:hover{
    background: #f1f1f1;
}
.city-field .selection{
    margin-top: 20px !important;
}
.city-field .selection select{
    width: 25% !important;
    margin-right: 5px !important;

}
[id^="setting_hidden"]{
    display: none !important;
}
.status_split_complete{
    color: #5cb85c;
}
.status_split_pending{
    color: #f0ad4e
}