.st-hotel-map-gallery {
  position: relative;
}
.st-hotel-map-gallery .on_the_map {
  position: absolute;
  bottom: 72px;
  right: 60px;
  z-index: 3;
}
.st-hotel-map-gallery .on_the_map .btn-on-map {
  background: rgba(53, 122, 154, 0.7);
  border: medium none;
  border-radius: 20px;
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
}
.st-hotel-map-gallery .on_the_map .btn-on-map:hover {
  background: #357a9a;
}
.st-hotel-map-gallery .on_the_map .btn-on-map.active {
  background: #000;
}
.st-hotel-map-gallery .on_the_map .btn-on-map.active:hover {
  background: #ed8323;
}
@media (max-width: 991px) {
  .st-hotel-map-gallery .on_the_map {
    bottom: 30px;
    left: 30px;
  }
}
.st-hotel-map-gallery .review-price {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 72px;
  z-index: 4;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 639px) {
  .st-hotel-map-gallery .review-price {
    width: 100%;
  }
}
.st-hotel-map-gallery .review-price .review {
  margin: 0 auto 20px;
  background: #ed8323;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  color: #FFF;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.st-hotel-map-gallery .review-price .review:after {
  position: absolute;
  content: '';
  bottom: -4px;
  left: 42%;
  transform: translateX(-50%) rotate(-30deg);
  border-bottom: 10px solid #ed8323;
  border-left: 10px solid transparent;
  border-right: 7px solid transparent;
}
.st-hotel-map-gallery .review-price .review span {
  font-size: 16px;
  font-weight: bold;
}
.st-hotel-map-gallery .review-price .review span span {
  font-size: 10px;
  display: block;
  text-transform: uppercase;
  font-weight: normal;
}
.st-hotel-map-gallery .review-price .review-stars {
  display: block;
  margin-bottom: 30px;
  list-style: none;
}
.st-hotel-map-gallery .review-price .review-stars li {
  display: inline;
}
.st-hotel-map-gallery .review-price .review-stars span {
  margin: 0 2px;
  color: #FFF;
  display: none;
}
.st-hotel-map-gallery .review-price .review-stars .active-half {
  display: inline-block;
}
.st-hotel-map-gallery .review-price .review-stars .active-half i:before {
  content: '\f123';
  color: #ed8323;
}
.st-hotel-map-gallery .review-price .review-stars .active {
  display: inline-block;
}
.st-hotel-map-gallery .review-price .review-stars .active i:before {
  content: '\f005';
  color: #ed8323;
}
.st-hotel-map-gallery .review-price .price {
  color: #FFF;
  font-size: 16px;
  transition: all 0.3s;
  margin-top: 10px;
  display: block;
}
.st-hotel-map-gallery .review-price .price strong {
  font-size: 30px;
  font-weight: bold;
}
@media (max-width: 529px) {
  .st-hotel-map-gallery .review-price .price strong {
    font-size: 25px;
  }
}
.st-hotel-map-gallery .review-price .price .unit-tour {
  display: block;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .st-hotel-map-gallery .review-price .review,
  .st-hotel-map-gallery .review-price .review-stars {
    display: none;
  }
}
.st-hotel-map-gallery .review-price.active .price {
  color: #000;
}
@media (max-width: 639px) {
  .st-hotel-map-gallery .review-price.active .review,
  .st-hotel-map-gallery .review-price.active .review-stars {
    display: none;
  }
}
.st-hotel-map-gallery .accommodation-single-map {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 2;
  transition: all 0.3s;
  background: #000;
}
.st-hotel-map-gallery .accommodation-single-map.active {
  z-index: -1 !important;
}
.st-hotel-map-gallery .view-control a {
  color: #000;
  background: #FFF;
  font-size: 10px;
}
.accommodation-gallery {
  width: 100%;
  height: 100%;
  position: relative;
}
.accommodation-gallery .owl-control {
  position: absolute;
  height: 40px;
  width: 40px;
  background: #b4b4b5;
  color: #777;
  border-radius: 50%;
  font-size: 30px;
  z-index: 2;
  left: 60px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  line-height: 37px;
  padding-right: 2px;
  cursor: pointer;
  opacity: 0.25;
  transition: all 0.3s;
}
@media (max-width: 991px) {
  .accommodation-gallery .owl-control {
    left: 10px;
  }
}
.accommodation-gallery .owl-control:hover {
  opacity: 1;
}
.accommodation-gallery .owl-control.owl-next {
  padding-left: 2px;
  padding-right: 0;
  right: 60px;
  left: auto;
}
@media (max-width: 991px) {
  .accommodation-gallery .owl-control.owl-next {
    right: 10px;
  }
}
.accommodation-gallery .ac-gallery {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
.accommodation-gallery .ac-gallery .owl-item {
  padding: 0px;
}
.accommodation-gallery .ac-gallery .item {
  width: 100%;
  height: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.accommodation-gallery .ac-gallery .item:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.accommodation-gallery .caption-star {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  top: 20%;
  z-index: 2;
  padding: 0 30px;
  width: 100%;
}
.accommodation-gallery .caption-star.tour {
  top: 15%;
}
@media (max-width: 991px) {
  .accommodation-gallery .caption-star.tour {
    top: 60px;
  }
}
@media (max-width: 991px) {
  .accommodation-gallery .caption-star {
    top: 60px;
  }
}
.accommodation-gallery .caption-star .weather {
  text-align: center;
  margin-bottom: 35px;
}
.accommodation-gallery .caption-star .weather .icon {
  font-size: 35px;
  margin-right: 14px;
}
.accommodation-gallery .caption-star .weather .temp {
  font-size: 20px;
  position: relative;
  top: -10px;
}
.accommodation-gallery .caption-star .weather .temp sup {
  font-size: 13px;
}
.accommodation-gallery .caption-star .location {
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
}
.accommodation-gallery .caption-star .service-title {
  font-size: 60px;
  font-weight: 900;
  color: #FFF;
  margin-bottom: 15px;
  margin-top: 10px;
}
@media (max-width: 991px) {
  .accommodation-gallery .caption-star .service-title {
    font-size: 45px;
  }
}
@media (max-width: 529px) {
  .accommodation-gallery .caption-star .service-title {
    font-size: 35px;
  }
}
.accommodation-gallery .caption-star .hotel-star {
  color: #ed8323;
}
.accommodation-gallery .caption-star .hotel-star i {
  margin-right: 5px;
}
.accommodation-gallery.default-2 .weather {
  position: absolute;
  z-index: 5;
  left: 60px;
  top: 60px;
  color: #FFF;
}
@media (max-width: 767px) {
  .accommodation-gallery.default-2 .weather {
    left: 30px;
    top: 25px;
  }
}
.accommodation-gallery.default-2 .weather .icon {
  font-size: 40px;
  margin-right: 15px;
  position: relative;
  top: 4px;
}
.accommodation-gallery.default-2 .weather .temp {
  font-size: 20px;
}
.accommodation-gallery.default-2 .weather .temp sup {
  font-size: 14px;
}
.accommodation-gallery.default-2 .owl-prev {
  left: 60px;
  bottom: 60px;
  top: auto;
  background: #000;
  transform: translate(0, 0);
}
@media (max-width: 767px) {
  .accommodation-gallery.default-2 .owl-prev {
    bottom: 25px;
    left: 30px;
  }
}
.accommodation-gallery.default-2 .owl-next {
  right: auto;
  left: 115px;
  bottom: 60px;
  top: auto;
  background: #000;
  transform: translate(0, 0);
}
@media (max-width: 767px) {
  .accommodation-gallery.default-2 .owl-next {
    bottom: 25px;
    left: 85px;
  }
}
.st-hotel-title-address {
  text-align: center;
}
.st-hotel-title-address .location {
  font-size: 13px;
  text-transform: uppercase;
  color: #ed8323;
  font-weight: 600;
}
.st-hotel-title-address .address {
  margin-bottom: 25px;
  color: #000;
  font-size: 14px;
}
.st-hotel-title-address .title {
  color: #252525;
  font-weight: bold;
}
.st-hotel-title-address .description {
  color: #777;
}
.st-hotel-title-address .review-stars {
  display: block;
  margin-bottom: 30px;
}
.st-hotel-title-address .review-stars .review-number {
  padding-left: 10px;
}
.st-hotel-title-address .review-stars .active-half {
  display: inline-block;
}
.st-hotel-title-address .review-stars {
  margin: 0;
  list-style: none;
  padding: 0;
  margin-bottom: 15px;
}
.st-hotel-title-address .review-stars li {
  display: inline-block;
  margin: 0 3px;
}
.st-hotel-title-address.text-left {
  text-align: left;
}
.st-review-score-list .list_review {
  list-style: none;
  display: inline-block;
  width: 100%;
  margin: 0;
  margin-bottom: 40px;
  padding: 0px;
}
.st-review-score-list .list_review li {
  display: inline-block;
  width: 16.66%;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 30px;
}
@media (max-width: 767px) and (min-width: 480px) {
  .st-review-score-list .list_review li {
    width: 33.33%;
  }
  .st-review-score-list .list_review li:nth-child(3n+1) {
    clear: both;
  }
}
@media (max-width: 479px) {
  .st-review-score-list .list_review li {
    width: 50%;
  }
  .st-review-score-list .list_review li:nth-child(2n+1) {
    clear: both;
  }
}
.st-review-score-list .list_review li img {
  width: auto;
  height: 51px;
  margin-bottom: 10px;
}
.st-review-score-list .list_review li .rating_title {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 900;
  color: #555555;
  margin-top: 5px;
  margin-bottom: 12px;
}
.st-review-score-list .list_review li .score {
  font-size: 15px;
  color: #ed8323;
}
/*tab content*/
.st-hotel-tabs-content .bottom_line {
  border-bottom: 1px solid #ddd;
}
.st-hotel-tabs-content .nav-tabs {
  border-bottom: none;
}
.st-hotel-tabs-content .nav-tabs.text-left {
  text-align: left !important;
}
@media (max-width: 1023px) {
  .st-hotel-tabs-content .nav-tabs.text-left {
    text-align: center !important;
  }
}
.st-hotel-tabs-content .nav-tabs > li {
  float: none;
  display: inline-block;
}
.st-hotel-tabs-content .nav-tabs > li > a {
  color: #636363;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  transition: all 0.4s;
  border: none !important;
  padding: 10px 40px 40px;
}
.st-hotel-tabs-content .nav-tabs > li > a span {
  padding: 8px 0px;
  display: block;
}
.st-hotel-tabs-content .nav-tabs > li > a:focus {
  background: none;
}
@media (max-width: 1200px) {
  .st-hotel-tabs-content .nav-tabs > li > a {
    padding: 10px 30px 40px;
  }
}
.st-hotel-tabs-content .nav-tabs > li > a:hover {
  background: transparent;
  color: #ed8323;
}
.st-hotel-tabs-content .nav-tabs > li > a:after {
  position: absolute;
  content: '';
  z-index: 1;
  width: 36px;
  height: 36px;
  bottom: -18px;
  left: 50%;
  background: #FFF;
  transform: translateX(-50%) rotate(-45deg);
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  transition: all 0.2s;
  opacity: 0;
}
.st-hotel-tabs-content .nav-tabs > li.active > a {
  color: #ed8323;
  background: transparent;
  position: relative;
}
.st-hotel-tabs-content .nav-tabs > li.active > a:after {
  opacity: 1;
}
.st-hotel-tabs-content .nav-tabs > li > a .show-in-mobile {
  display: none;
}
.st-hotel-tabs-content > .tabbable > .tab-content > .tab-pane {
  padding: 65px 0 20px;
}
.st-hotel-tabs-content .inner-content {
  margin-top: 50px;
  padding-bottom: 30px;
}
.st-hotel-tabs-content .tab-title {
  font-size: 33px;
  font-weight: bold;
}
@media (max-width: 1023px) {
  .st-hotel-tabs-content .tab-title {
    font-size: 25px;
  }
}
@media (max-width: 768px) {
  .st-hotel-tabs-content .tab-title {
    font-size: 22px;
  }
}
@media (max-width: 520px) {
  .st-hotel-tabs-content .tab-title {
    font-size: 18px;
  }
}
@media (max-width: 1023px) {
  .st-hotel-tabs-content .nav-tabs > li > a span {
    display: none;
  }
  .st-hotel-tabs-content .nav-tabs > li > a .show-in-mobile {
    display: block;
    font-size: 30px;
  }
}
@media (max-width: 1023px) and (max-width: 520px) {
  .st-hotel-tabs-content .nav-tabs > li > a .show-in-mobile {
    font-size: 25px;
  }
}
@media (max-width: 1023px) and (max-width: 420px) {
  .st-hotel-tabs-content .nav-tabs > li > a .show-in-mobile {
    font-size: 22px;
  }
}
@media (max-width: 1023px) and (max-width: 768px) {
  .st-hotel-tabs-content .nav-tabs > li > a {
    padding: 10px 25px 25px;
  }
}
@media (max-width: 1023px) and (max-width: 640px) {
  .st-hotel-tabs-content .nav-tabs > li > a {
    padding: 10px 15px 25px;
  }
}
@media (max-width: 1023px) and (max-width: 520px) {
  .st-hotel-tabs-content .nav-tabs > li > a {
    padding: 10px 10px 25px;
  }
}
.st-more-info {
  margin-bottom: 40px;
}
.st-more-info .left {
  width: 90px;
  float: left;
  display: block;
  color: #000;
  font-weight: bold;
}
.st-more-info .right {
  padding-left: 120px;
  display: block;
}
.st-more-info.style-2 {
  margin-bottom: 45px;
}
.st-more-info.style-2 .icon {
  float: left;
  display: block;
  font-size: 50px;
  color: #ed8323;
  line-height: 1;
}
.st-more-info.style-2 .right {
  padding-left: 100px;
}
.st-more-info.style-2 .right .title {
  font-size: 14px;
  color: #000;
  font-weight: bold;
}
.st-list {
  display: block;
  margin-top: 25px;
}
.st-list ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
.st-list ul li {
  margin-bottom: 14px;
  position: relative;
  padding-left: 35px;
}
.st-list ul li:before {
  position: absolute;
  top: 7px;
  left: 0;
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #ed8323;
}
.tab-amenities {
  width: 100%;
  padding-top: 20px;
}
.tab-amenities .amenities-left,
.tab-amenities .amenities-right {
  width: 45%;
  float: left;
}
@media (max-width: 1199px) {
  .tab-amenities .amenities-left,
  .tab-amenities .amenities-right {
    width: 100%;
  }
}
.tab-amenities .amenities-left .amenity,
.tab-amenities .amenities-right .amenity {
  display: block;
  clear: both;
  margin-bottom: 30px;
  float: left;
}
.tab-amenities .amenities-left .amenity .title,
.tab-amenities .amenities-right .amenity .title {
  width: 190px;
  float: left;
  position: relative;
}
@media (max-width: 1199px) {
  .tab-amenities .amenities-left .amenity .title,
  .tab-amenities .amenities-right .amenity .title {
    width: 250px;
  }
}
@media (max-width: 768px) {
  .tab-amenities .amenities-left .amenity .title,
  .tab-amenities .amenities-right .amenity .title {
    width: 100%;
    padding-bottom: 20px;
  }
}
.tab-amenities .amenities-left .amenity .title i,
.tab-amenities .amenities-right .amenity .title i {
  font-size: 40px;
  color: #ed8323;
  margin-right: 30px;
  position: absolute;
  left: 0;
  top: -3px;
}
.tab-amenities .amenities-left .amenity .title .name,
.tab-amenities .amenities-right .amenity .title .name {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin-left: 60px;
  margin-top: 7px;
}
.tab-amenities .amenities-left .amenity .description,
.tab-amenities .amenities-right .amenity .description {
  padding-left: 190px;
  font-size: 15px;
  color: #7d7d7d;
  line-height: 2;
}
@media (max-width: 1199px) {
  .tab-amenities .amenities-left .amenity .description,
  .tab-amenities .amenities-right .amenity .description {
    padding-left: 250px;
  }
}
@media (max-width: 768px) {
  .tab-amenities .amenities-left .amenity .description,
  .tab-amenities .amenities-right .amenity .description {
    padding-left: 0px;
  }
}
.tab-amenities .amenities-left {
  margin-right: 10%;
}
@media (max-width: 1199px) {
  .tab-amenities .amenities-left {
    margin-right: 0;
  }
}
.single-st_hotel .content-policies {
  width: 45%;
  margin-right: 10%;
  float: left;
}
.single-st_hotel .content-policies.no-faq {
  width: 100%;
  margin: 0;
}
@media (max-width: 991px) {
  .single-st_hotel .content-policies {
    width: 100%;
    margin-right: 0;
  }
}
.single-st_hotel .content-policies .service-content-section .service-detail-item {
  margin-bottom: 50px;
}
.single-st_hotel .content-policies .service-content-section .service-detail-item .service-detail-title {
  background: none;
  padding: 0 10px 0 0;
  border: none;
  color: #000;
  font-weight: bold;
  width: 50%;
  float: left;
  font-size: 16px;
}
.single-st_hotel .content-policies .service-content-section .service-detail-item .service-detail-content {
  background: transparent;
  padding: 0 0 0 10px;
  border-bottom: none;
  font-size: 14px;
  color: #7d7d7d;
  width: 50%;
  display: inline-block;
}
.single-st_hotel .content-policies .service-content-section .service-detail-item .service-detail-content .enforced_red {
  color: #ed8323;
}
.single-st_hotel .content-policies .service-content-section .service-detail-item .service-detail-content.list-card-acd .list-card-accepted {
  text-align: left !important;
}
.single-st_hotel .content-policies .service-content-section .service-detail-item .service-detail-content.list-card-acd img {
  width: 35px;
}
.single-st_hotel .content-FAQ {
  width: 45%;
  float: left;
}
@media (max-width: 991px) {
  .single-st_hotel .content-FAQ {
    width: 100%;
  }
}
.single-st_hotel .content-FAQ .faq-item {
  margin-bottom: 45px;
}
.single-st_hotel .content-FAQ .faq-item .ask {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}
.single-st_hotel .content-FAQ .faq-item .ans {
  font-size: 14px;
  color: #7d7d7d;
}
.single-st_hotel .content-price-payment {
  width: 100%;
}
.single-st_hotel .content-price-payment .service-content-section .policies-title {
  margin-top: 0;
  margin-bottom: 35px;
  color: #000;
  font-size: 18px;
  font-weight: bold;
}
.single-st_hotel .content-price-payment .service-content-section .service-detail-item {
  margin-bottom: 50px;
  width: 100%;
  clear: both;
  display: inline-block;
}
.single-st_hotel .content-price-payment .service-content-section .service-detail-item.deposit {
  width: 50%;
  float: left;
}
.single-st_hotel .content-price-payment .service-content-section .service-detail-item.vat {
  width: 50%;
  float: left;
  clear: right;
}
@media (min-width: 992px) {
  .single-st_hotel .content-price-payment .service-content-section .service-detail-item.vat .service-detail-title {
    width: 120px;
  }
  .single-st_hotel .content-price-payment .service-content-section .service-detail-item.vat .service-detail-content {
    width: calc(100% - 140px);
  }
}
@media (max-width: 991px) {
  .single-st_hotel .content-price-payment .service-content-section .service-detail-item.deposit,
  .single-st_hotel .content-price-payment .service-content-section .service-detail-item.vat {
    width: 100%;
  }
}
.single-st_hotel .content-price-payment .service-content-section .service-detail-item .service-detail-title {
  background: none;
  padding: 0 10px 0 0;
  border: none;
  color: #000;
  font-weight: bold;
  width: 220px;
  margin-right: 0;
  font-size: 16px;
}
@media (max-width: 639px) {
  .single-st_hotel .content-price-payment .service-content-section .service-detail-item .service-detail-title {
    width: 30%;
  }
}
.single-st_hotel .content-price-payment .service-content-section .service-detail-item .service-detail-content {
  background: transparent;
  padding: 0 0 0 10px;
  border-bottom: none;
  font-size: 15px;
  color: #7d7d7d;
  width: calc(100% - 240px);
}
@media (max-width: 639px) {
  .single-st_hotel .content-price-payment .service-content-section .service-detail-item .service-detail-content {
    width: 70%;
    padding-left: 20px;
  }
}
.single-st_hotel .content-price-payment .service-content-section .service-detail-item .service-detail-content .enforced_red {
  color: #ed8323;
}
.single-st_hotel .content-price-payment .service-content-section .service-detail-item .service-detail-content ul {
  list-style: none;
  margin: 0;
}
.single-st_hotel .content-price-payment .service-content-section .service-detail-item .service-detail-content ul li {
  margin-bottom: 15px;
  padding-left: 30px;
  position: relative;
}
@media (max-width: 639px) {
  .single-st_hotel .content-price-payment .service-content-section .service-detail-item .service-detail-content ul li {
    padding-left: 15px;
  }
}
.single-st_hotel .content-price-payment .service-content-section .service-detail-item .service-detail-content ul li:before {
  position: absolute;
  content: '';
  z-index: 1;
  width: 8px;
  height: 8px;
  border: 1px solid #ed8323;
  border-radius: 50%;
  left: 0;
  top: 7px;
}
.single-st_hotel .tab_availability .booking-list {
  margin: 0 -10px;
}
.single-st_hotel .tab_availability .booking-list:before,
.single-st_hotel .tab_availability .booking-list:after {
  content: " ";
  display: table;
  clear: both;
}
.single-st_hotel .tab_availability .booking-list.loading::before {
  background: #fff none repeat scroll 0 0;
  bottom: 0;
  content: " ";
  left: 0;
  opacity: 0.8;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 14;
  display: block;
}
.single-st_hotel .tab_availability .booking-list > li {
  float: left;
  width: 50%;
  padding: 0 10px;
}
.single-st_hotel .tab_availability .booking-list > li .booking-item {
  min-height: 180px;
}
.single-st_hotel a.check_availability {
  color: #fff;
}
.single-st_hotel a.check_availability span {
  background-color: #000;
  border-radius: 22px;
  bottom: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 8px 20px !important;
  text-align: center;
  touch-action: manipulation;
  white-space: nowrap;
  transition: all 0.3s;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.single-st_hotel a.check_availability:hover span {
  background-color: #ed8323;
}
.single-st_hotel #check_availability .btn-do-search-room {
  width: 100%;
}
.single-st_hotel #check_availability .contact {
  margin-bottom: 20px;
  margin-top: 10px;
  min-height: 55px;
}
.single-st_hotel #check_availability .contact .icon {
  float: left;
  font-size: 27px;
  margin-top: 5px;
}
.single-st_hotel #check_availability .contact .caption {
  padding-left: 45px;
}
.single-st_hotel #check_availability .contact .caption .title {
  color: #959595;
}
.single-st_hotel #check_availability .contact .caption .content,
.single-st_hotel #check_availability .contact .caption a {
  color: #ed8323;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  margin: 0px;
}
.single-st_hotel #check_availability .avalable-title {
  color: #636363;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
}
.single-st_hotel #check_availability .list-room-new .col-md-3 {
  width: 16.6667% !important;
}
.single-st_hotel #check_availability .list-room-new .col-md-6 {
  width: 58.3333% !important;
}
.single-st_hotel #check_availability .left-contact {
  padding-left: 150px;
}
@media (max-width: 1366px) {
  .single-st_hotel #check_availability .left-contact {
    padding-left: 100px;
  }
}
@media (max-width: 1280px) {
  .single-st_hotel #check_availability .left-contact {
    padding-left: 15px;
  }
}
.single-st_hotel .review-stars-2 {
  display: block;
  margin-bottom: 30px;
}
.single-st_hotel .review-stars-2 .review-number {
  padding-left: 10px;
}
.single-st_hotel .review-stars-2 .active-half {
  display: inline-block;
}
.single-st_hotel .review-stars-2 {
  list-style: outside none none;
  margin: 5px;
  padding: 0;
}
.single-st_hotel .review-stars-2 li {
  display: inline-block;
  margin: 0 3px;
}
.single-st_hotel .hotel-item-1 {
  transition: all .4s;
  margin-bottom: 30px;
}
.single-st_hotel .hotel-item-1 .thumb-header {
  width: 100%;
  overflow: hidden;
  margin-bottom: 0;
}
.single-st_hotel .hotel-item-1 .thumb-header a {
  width: 100%;
  display: block;
}
.single-st_hotel .hotel-item-1 .thumb-header a img {
  width: 100%;
  transition: all 0.4s;
}
.single-st_hotel .hotel-item-1 .caption-content {
  text-align: center;
  padding: 30px 15px;
}
.single-st_hotel .hotel-item-1 .caption-content .location {
  margin-top: 0;
  font-size: 12px;
  color: #ed8323;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.single-st_hotel .hotel-item-1 .caption-content .title {
  margin-bottom: 0;
  margin-top: 0;
}
.single-st_hotel .hotel-item-1 .caption-content .title a {
  font-size: 22px;
  font-weight: 900;
  color: #000;
  transition: all 0.4s;
}
.single-st_hotel .hotel-item-1 .caption-content .title a:hover {
  text-decoration: none;
}
.single-st_hotel .hotel-item-1 .caption-content .description {
  color: #959595;
  margin-bottom: 15px;
}
.single-st_hotel .hotel-item-1 .caption-content .review {
  margin-bottom: 0;
  margin-top: -10px;
}
.single-st_hotel .hotel-item-1 .caption-content .review ul {
  list-style: none;
  display: inline-block;
  margin: 0;
  margin-right: 5px;
  padding: 0;
}
.single-st_hotel .hotel-item-1 .caption-content .review ul li {
  display: inline-block;
  margin-right: 2px;
}
.single-st_hotel .hotel-item-1 .caption-content .review .count {
  color: #959595;
  font-size: 14px;
}
.single-st_hotel .hotel-item-1 .caption-content .price {
  display: block;
  margin-bottom: 20px;
  color: #000;
}
.single-st_hotel .hotel-item-1 .caption-content .price .item {
  font-size: 18px;
  color: #ed8323;
  font-weight: 700;
}
.single-st_hotel .hotel-item-1 .caption-content .price .onsale {
  font-size: 14px;
  color: #ed8323;
  font-weight: 700;
}
.single-st_hotel .hotel-item-1 .caption-content .book-now {
  color: #000;
  background: #d9e6ec;
  border-color: #d9e6ec;
  text-transform: uppercase;
  padding: 8px 20px;
}
.single-st_hotel .hotel-item-1 .caption-content .book-now:hover {
  color: #FFF;
  background: #ed8323;
  border-color: #ed8323;
}
.single-st_hotel .hotel-item-1:hover {
  box-shadow: 0 0 5px #ccc;
}
.single-st_hotel .hotel-item-1:hover .thumb-header img {
  transform: scale(1.05);
}
.single-st_hotel .hotel-item-1:hover .caption-content .title a {
  color: #ed8323;
}
.single-st_hotel .hotel-item-1 .address {
  margin: 0px;
}
.st-gallery-half-map .st-hotel-gallery .caption-star {
  bottom: 70px;
  left: 27%;
  text-align: left;
  top: auto;
  transform: translate(0px, 0px);
  width: 70%;
}
@media (max-width: 1023px) {
  .st-gallery-half-map .st-hotel-gallery .caption-star {
    left: 50px;
  }
}
@media (max-width: 520px) {
  .st-gallery-half-map .st-hotel-gallery .caption-star {
    left: 15px;
  }
}
.st_hotel_contact_info {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 15px;
}
.st_hotel_contact_info .contact {
  margin-bottom: 20px;
  margin-top: 10px;
  min-height: 55px;
}
.st_hotel_contact_info .contact .icon {
  float: left;
  font-size: 27px;
  margin-top: 5px;
}
.st_hotel_contact_info .contact .caption {
  padding-left: 45px;
}
.st_hotel_contact_info .contact .caption .title {
  color: #959595;
}
.st_hotel_contact_info .contact .caption .content,
.st_hotel_contact_info .contact .caption a {
  color: #ed8323;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  margin: 0px;
}
.menu-featured:after {
  background: #19A1E5 none repeat scroll 0 0;
  border-radius: 5px;
  content: "New";
  font-size: 10px;
  padding: 4px 7px;
  position: absolute;
  right: 15px;
  top: 10px;
}
.single-st_tours .div_book .table td label {
  line-height: 24px;
}
.tour_discount_info {
  margin-bottom: 30px;
}
.st-tour-program {
  padding-left: 0px;
}
.booking-item-dates-change .table td {
  vertical-align: middle !important;
}
.booking-item-dates-change .table td label {
  display: inline;
}
.woocommerce form .form-row .input-checkbox {
  position: relative;
}
.main-header-search .form-control {
  background: #262626 !important;
}
@media (max-width: 980px) {
  .vc_tta.vc_general .vc_tta-panel-body {
    padding: 15px !important;
  }
  .booking-item-features-expand > li.col-sm-4 {
    float: none;
  }
  ul.slimmenu.collapsed li .sub-toggle {
    height: 40px !important;
    right: 0 !important;
    width: 48px !important;
  }
  .booking-item-price-calc {
    margin-top: 10px;
  }
  .package-info-wrapper,
  .tour_show_caledar_below_off,
  .tour_show_caledar_below_on {
    margin-bottom: 20px;
  }
}
@media (max-width: 980px) {
  .booking-item-reviews.list .st_reviews .col-md-2 {
    width: 20%;
    float: left;
  }
  .booking-item-reviews.list .st_reviews .col-md-10 {
    width: 80%;
    float: left;
  }
}
@media (max-width: 520px) {
  .booking-list.booking-list-wishlist.woocommerce_cart_table img {
    width: 100%;
  }
  .booking-list.booking-list-wishlist.woocommerce_cart_table .booking-item-title {
    margin-top: 10px;
  }
  .div_item_map {
    position: absolute;
    top: 100px;
    width: 200px;
  }
  .div_item_map .thumb-header {
    display: none;
  }
  .div_item_map .item_map::after {
    display: none;
  }
  .div_item_map .item_map .thumb-caption {
    padding: 40px 10px 10px;
  }
  .div_item_map .item_price_map small,
  .div_item_map .item_price_map span {
    color: #000 !important;
  }
  .div_item_map .item_price_map {
    width: 115px;
  }
  #noty_topRight_layout_container li {
    height: auto !important;
  }
  .noty_message .noty_text .st_notice_template .fa {
    font-size: 17px;
  }
}
@media (max-width: 360px) {
  .booking-item-reviews.list .st_reviews .col-md-2 {
    width: 30%;
    float: left;
  }
  .booking-item-reviews.list .st_reviews .col-md-10 {
    width: 70%;
    float: left;
  }
}
@media (max-width: 355px) {
  .booking-item-reviews.list .st_reviews .col-md-2 {
    width: 100%;
    float: left;
  }
  .booking-item-reviews.list .st_reviews .col-md-10 {
    width: 100%;
    float: left;
  }
}
.st-inbox {
  background: #fff;
  border: 0 none;
  border-radius: 10px;
  box-shadow: 0 0px 1px #888888;
  max-width: 350px;
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s;
}
.st-inbox:hover {
  box-shadow: 0 0px 5px #888888;
}
.st-inbox .title {
  text-align: center;
  margin: 0px;
}
.st-inbox .desc {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}
.st-inbox .btn {
  width: 100%;
}
.st-inbox .wb-error {
  border: 1px solid red;
}
.st-inbox .alert {
  margin-top: 15px;
  margin-bottom: 10px;
}
.st-inbox .control {
  margin-top: 15px;
}
.st-inbox .st-form-inbox {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease 0s;
}
.st-inbox .st-form-inbox.active {
  max-height: 500px;
}
.btn-loading.loading::after {
  animation: 1s steps(8) 0s normal none infinite running fa-spin;
  content: "";
  display: inline-block;
  font-family: FontAwesome;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  margin-left: 5px;
  text-rendering: auto;
}
.st-inbox-body {
  position: relative;
}
.st-inbox-body .title {
  margin-bottom: 25px;
}
.st-inbox-body .wb-error {
  border: 1px solid red;
}
.st-inbox-body .form-search-inbox {
  right: 0;
  width: 250px;
  float: right;
  text-align: right;
}
@media (min-width: 1024px) {
  .st-inbox-body .form-search-inbox {
    position: absolute;
    top: 13px;
  }
}
.st-inbox-body .form-search-inbox .form-group {
  width: 160px;
  float: left;
}
.st-inbox-body .form-search-inbox .form-group input {
  border-radius: 0;
}
.st-inbox-body .form-search-inbox button.btn-default {
  width: 80px;
  float: right;
  font-size: 13px;
  padding: 10px 0;
  height: 34px;
  line-height: 1;
  font-weight: normal;
  text-transform: capitalize;
}
.st-inbox-body .inbox-list-message {
  clear: both;
}
.st-inbox-body .inbox-list-message .message-item {
  margin: 20px 0;
  position: relative;
  padding: 10px 5px 5px;
  border: 1px solid #ddd;
  transition: all .2s;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: 100%;
}
.st-inbox-body .inbox-list-message .message-item .user-avatar {
  width: 70px;
  float: left;
  display: block;
  text-align: center;
  margin-right: 5px;
}
.st-inbox-body .inbox-list-message .message-item .user-avatar span {
  font-size: 11px;
  color: #999;
}
.st-inbox-body .inbox-list-message .message-item a {
  border: 0;
}
.st-inbox-body .inbox-list-message .message-item a.new {
  font-weight: bold;
}
.st-inbox-body .inbox-list-message .message-item .inbox-new,
.st-inbox-body .inbox-list-message .message-item .inbox-send {
  border-radius: 3px;
  font-size: 11px;
  padding: 1px 4px;
  margin-right: 5px;
}
.st-inbox-body .inbox-list-message .message-item .inbox-new {
  background: #DA251D;
  color: #fff;
}
.st-inbox-body .inbox-list-message .message-item .inbox-send {
  background: #00b710;
  color: #fff;
}
.st-inbox-body .inbox-list-message .message-item .inbox-in {
  font-size: 12px;
  color: #999;
}
.st-inbox-body .inbox-list-message .message-item .inbox-post {
  font-size: 13px;
}
.st-inbox-body .inbox-list-message .message-item .inbox-time {
  font-size: 11px;
  color: #999;
}
.st-inbox-body .inbox-list-message .message-item a.show-detail {
  font-weight: bold;
}
.st-inbox-body .inbox-list-message .message-item .short-content {
  font-size: 13px;
  display: block;
}
.st-inbox-body .inbox-list-message .message-item:hover {
  background: rgba(0, 0, 0, 0.05);
}
.st-inbox-body .inbox-navigation {
  text-align: right;
  margin-top: 10px;
}
.st-inbox-body .inbox-navigation ul {
  list-style: none;
  float: right;
}
.st-inbox-body .inbox-navigation ul li {
  display: inline-flex;
}
.st-inbox-body .inbox-navigation ul li a {
  padding: 1px 6px;
  border: 1px solid #F0AD4E;
  color: #F0AD4E;
  transition: all .2s;
}
.st-inbox-body .inbox-navigation ul li a:hover {
  color: #fff;
  background: #F0AD4E;
}
.st-inbox-body .inbox-navigation .navi-info {
  width: 40%;
  float: left;
  text-align: left;
  font-size: 13px;
  color: #aaa;
}
.st-inbox-body .booking-item-wishlist-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: #f7f7f7 none repeat scroll 0 0;
  border-color: #f7f7f7;
  border-image: none;
  border-radius: 3px 3px 0 0;
  border-style: solid solid none;
  border-width: 1px 1px medium;
  font-size: 12px;
  height: 30px;
  left: 0;
  line-height: 30px;
  padding: 0 10px;
  position: absolute;
  top: -31px;
}
.st-inbox-body .booking-item-wishlist-title .fa {
  padding-right: 5px;
}
.st-inbox-body-detail .back-all-list {
  text-transform: capitalize;
}
.st-inbox-body-detail .wb-error {
  border: 1px solid red;
}
.st-inbox-body-detail .message-title {
  margin-bottom: 0;
  margin-top: 20px;
}
.st-inbox-body-detail .message-id {
  font-size: 13px;
  color: #999;
  display: block;
}
.st-inbox-body-detail .post_name {
  font-size: 13px;
  color: #999;
  display: block;
}
.st-inbox-body-detail .post_name a {
  border-bottom: 0;
}
.st-inbox-body-detail .message-box {
  margin-top: 30px;
  margin-bottom: 20px;
  max-height: 500px;
  overflow: auto;
}
.st-inbox-body-detail .message-box .message-item {
  margin: 10px 0;
  border-radius: 3px;
  display: inline-block;
  width: 100%;
}
.st-inbox-body-detail .message-box .message-item .message-item-content {
  width: calc(100% - 100px);
  padding: 5px 10px;
}
.st-inbox-body-detail .message-box .message-item.to {
  clear: both;
  padding-right: 140px;
}
.st-inbox-body-detail .message-box .message-item.to .user-avatar {
  width: 100px;
  text-align: center;
  float: left;
}
.st-inbox-body-detail .message-box .message-item.to .message-item-content {
  float: left;
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
}
.st-inbox-body-detail .message-box .message-item.from {
  clear: both;
  padding-left: 140px;
}
.st-inbox-body-detail .message-box .message-item.from .user-avatar {
  width: 100px;
  text-align: center;
  float: right;
}
.st-inbox-body-detail .message-box .message-item.from .message-item-content {
  float: right;
  background: rgba(240, 173, 78, 0.18);
  border: 1px solid rgba(240, 173, 78, 0.1);
}
.st-inbox-body-detail .message-box span:first-child {
  display: block;
}
.st-inbox-body-detail .message-box span:last-child {
  display: block;
  font-size: 11px;
  color: #999;
}
.st-inbox-body-detail .inbox-form-reply .form-group {
  width: calc(100% - 100px);
  float: left;
}
.st-inbox-body-detail .inbox-form-reply .form-group textarea.form-control {
  height: 50px;
  border-radius: 0;
}
.st-inbox-body-detail .inbox-form-reply div.button {
  float: left;
  text-align: right;
  width: 100px;
}
.st-inbox-body-detail .inbox-form-reply div.button button.btn {
  height: 50px;
  width: 90%;
  line-height: 1;
  margin-top: 0;
  font-size: 18px;
}
.st-inbox-notification {
  position: fixed;
  bottom: 15px;
  right: -300px;
  display: block;
  border: 1px solid #59abc3;
  border-radius: 5px;
  transition: all 0.3s;
  opacity: 1;
  font-size: 13px;
  background-color: #59abc3;
  z-index: 2;
  box-shadow: 0px 0px 9px -2px #000000;
}
.st-inbox-notification a.notifi {
  padding: 15px 20px;
  display: block;
  color: #fff;
}
.st-inbox-notification a.notifi-hide {
  position: absolute;
  right: 0;
  top: 0;
  color: #FFF;
  z-index: 3;
  height: 30px;
  width: 30px;
  text-align: center;
  transition: all .3s;
}
.st-inbox-notification a.notifi-hide:hover {
  color: #333;
}
.st-inbox-notification:hover {
  color: #FFF;
}
.noty_type_info,
.noty_type_information {
  background-color: #78C5E7;
  color: #FFF;
}
.noty_type_info a,
.noty_type_information a {
  color: #FFF !important;
}
.noty_type_info .fa,
.noty_type_information .fa {
  font-size: 21px;
}
.noty_type_info .noty_buttons,
.noty_type_information .noty_buttons {
  border-color: #0B90C4;
}
.btn_remove_message {
  background: #eee none repeat scroll 0 0;
  padding: 4px 6px;
  position: absolute;
  right: 0;
  top: 0;
}
